h1 {
  font-family: 'Helvetica', sans-serif;
  color: #327757;
  
}

.contact {
  font-family: 'Helvetica', sans-serif;
  color: #327757;
  font-size: 1rem;
  text-align: center;
  border: 2px solid black;
  margin-top: 75px;
  margin-bottom: 25px;
  margin-right: 100px;
  margin-left: 100px;
}

h3 {
  font-family: 'Helvetica', sans-serif;
  margin-right: 100px;
  margin-left: 100px;
}

h2 {
  font-family: 'Helvetica', sans-serif;
  margin-right: 100px;
  margin-left: 100px;
}

.date1 {
  float: right;
}



