h1 {
  font-family: 'Helvetica', sans-serif;
  color: #327757;
}
h2 {
  font-family: 'Helvetica', sans-serif;
  color: #327757;
}
h3 {
  font-family: 'Helvetica', sans-serif;
}
.contact {
  border: 5px solid #327757;
}
