h1 {
  font-family: 'Helvetica', sans-serif;
  color: #327757;
}

.contact {
  font-family: 'Helvetica', sans-serif;
  color: #327757;
  font-size: 1rem;
  text-align: center;
  border: 2px solid black;
}

h3 {
  font-family: 'Helvetica', sans-serif;
  margin: 5px;
}

h2 {
  font-family: 'Helvetica', sans-serif;
}

.date1 {
  float: right;
}

body {
    width: 100%;
    height: 50px;
    background-image: url(http://clipart-library.com/images_k/pine-tree-line-silhouette/pine-tree-line-silhouette-8.png);
    background-image: no-repeat;
}
